$primary: #1ed760;

#inputs {
  height: 6;
  width: 100%;
}

RadioButton {
  border: round $primary;
}

#pasta_saida {
  width: 1fr;
}

#logs {
  height: 1fr;
}

Horizontal {
  align: center middle;
  width: 100%;
}

Input {
  border: round $primary;
}

RichLog {
  border: round $accent;
}

ProgressBar {
  align: center middle;
  width: 1fr;
}

Bar {
  width: 1fr;
  padding-left: 1;
}
